.application.sheet.thebigwet.character.actor {
    background: white;
    color: black;
}

.window-content .character-sheet-form {
    padding: 0;
}

.character-sheet {
    display: flex;
    height: 100%;
}

.character-sheet label {
   text-transform: uppercase; 
   white-space: nowrap;
   font-size: 0.8vw;
}

.sheet.thebigwet .vertical-text {
    background: white;
    color: black;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 6vh;
    font-weight: bold;
    height: 100%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px black solid;
}

.sheet.thebigwet .sheet-content {
    flex: 1;
    padding: 10px;
    border: 4px black solid;
    border-left: 0px;
}

.line-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    
}

.sheet.thebigwet .line-input input {
    background: white;
    border-bottom: 3px solid black;
    border-radius: 0px;
    color: var(--color-text-dark-primary);
    margin-bottom: 2px;
    font-size: 25px;
}

.sheet.thebigwet .line-input label {
    color: var(--color-text-dark-primary);
}

.sheet.thebigwet .line-input input:focus {
    background: white;
    border-bottom: 3px solid black;
    border-radius: 0px;
    color: var(--color-text-dark-primary);
}

.stats {
    display: flex;
    gap: 10px;
}

.sheet.thebigwet .box-input {
    position: relative;
    width: 60px;
    height: 60px;
    border: 3px solid black;
}

.sheet.thebigwet .box-input input {
    width: 100%;
    height: 100%;
    background: white;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    color: black;
}

.sheet.thebigwet .box-input label {
    position: absolute;
    bottom: 1px;
    left: 5px;
    font-size: 10px;
    color: black;
    text-transform: uppercase;
    pointer-events: none;
}

.sheet.thebigwet .bigwet-tooltip {
    width: 40%;
    line-height: 0.8;
    padding: 0;
    margin: 0;
    font-size: 0.9vh;
}

.sheet.thebigwet .bigwet-tooltip ul {
    margin: 0 0 0 0;
    padding: 0 0 0 1rem;
}

.sheet.thebigwet .bigwet-tooltip li {
    margin: 0 0 0 0;
}
