.application.sheet.thebigwet {
    resize: both;
}

.application .window-content {
    padding: 0px;
    background: white;
    color: black;
}

.window-content .item-sheet-form {
    padding: 0;
}

.window-content .character-sheet-form {
    padding: 0;
}

.character-sheet {
    display: flex;
    height: 100%;
}

.character-sheet label {
   text-transform: uppercase; 
   white-space: nowrap;
   font-size: 0.8rem;
}

.sheet.thebigwet .vertical-text {
    background: white;
    color: black;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 4rem;
    font-weight: bold;
    height: 100%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px black solid;
}

.sheet.thebigwet .sheet-content {
    flex: 1;
    padding: 10px;
    border: 4px black solid;
    border-left: 0px;
    box-sizing: border-box;
}

.line-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    
}

.sheet.thebigwet .line-input input {
    background: white;
    border-bottom: 3px solid black;
    border-radius: 0px;
    color: var(--color-text-dark-primary);
    margin-bottom: 2px;
    font-size: 25px;
}

.sheet.thebigwet .line-input label {
    color: gray; 
}

.sheet.thebigwet .line-input .history-specialty {
    display: flex;
    gap: 0px;
}

.sheet.thebigwet .line-input .history-specialty input {
    display: inline-block;
}

.sheet.thebigwet .line-input input:focus {
    background: white;
    border-bottom: 3px solid black;
    border-radius: 0px;
    color: var(--color-text-dark-primary);
}

.stats {
    display: flex;
    gap: 10px;
}

.sheet-content label {
    color: gray;
}

.sheet.thebigwet .box-input {
    position: relative;
    width: 60px;
    height: 60px;
    border: 3px solid black;
}

.sheet.thebigwet .box-input input {
    width: 100%;
    height: 100%;
    background: white;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    color: black;
}

.sheet.thebigwet .box-input label {
    position: absolute;
    bottom: 1px;
    left: 5px;
    font-size: 10px;
    color: black;
    text-transform: uppercase;
    pointer-events: none;
}

.sheet.thebigwet .bigwet-tooltip {
    width: 40%;
    line-height: 0.8;
    padding: 0;
    margin: 0;
    font-size: 0.65rem;
    color: gray;
    font-weight: 
}

.sheet.thebigwet .bigwet-tooltip ul {
    margin: 0 0 0 0;
    padding: 0 0 0 1rem;
}

.sheet.thebigwet .bigwet-tooltip li {
    margin: 0 0 0 0;
}

.sheet.thebigwet .workspace {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 2fr;
    gap: 5px;
    width: 100%;
    height: 70%;
}

.sheet.thebigwet .wounds-area {
    grid-column: 1;
    grid-row: 1;
    border: 2px solid gray;
}

.sheet.thebigwet .wounds-area img {
    border: 0px;
}

.sheet.thebigwet .wounds-area .wound-markers .wound-area {
    position: absolute;
    filter: blur(10px) opacity(50%);
} 

.sheet.thebigwet .wounds-area .wound-markers .wound-area[data-wound-level="Healthy"] { background: transparent; }
.sheet.thebigwet .wounds-area .wound-markers .wound-area[data-wound-level="Grazed"] { background: LightPink; }
.sheet.thebigwet .wounds-area .wound-markers .wound-area[data-wound-level="Punctured"] { background: LightCoral; }
.sheet.thebigwet .wounds-area .wound-markers .wound-area[data-wound-level="Ripped"] { background:  FireBrick; }
.sheet.thebigwet .wounds-area .wound-markers .wound-area[data-wound-level="Shattered"] { background: Red; }
.sheet.thebigwet .wounds-area .wound-markers .wound-area[data-wound-level="Destroyed"] { background: Black; }

.sheet.thebigwet .wounds-area .head {
	position: absolute;
	/* border: 2px black solid; */
	width: 33px;
	height: 39px;
	top: 9%;
	left: 51%;
	transform: translateX(-44%);
	border-radius: 100%;
	/* background: transparent; */
}

.sheet.thebigwet .wounds-area .upper {
	position: absolute;
	width: 90px;
	height: 54px;
	top: 21%;
	left: 50%;
	transform: translateX(-46%);
	border-radius: 100%;
}

.sheet.thebigwet .wounds-area .lower {
	position: absolute;
	width: 68px;
	height: 86px;
	top: 34%;
	left: 50%;
	transform: translateX(-46%);
	border-radius: 100%;
}

.sheet.thebigwet .wounds-area .larm {
	position: absolute;
	width: 48px;
	height: 135px;
	top: 23%;
	left: 25%;
	transform: translateX(-46%) rotate(40deg);
	border-radius: 100%;
}

.sheet.thebigwet .wounds-area .rarm {
	position: absolute;
	width: 48px;
	height: 135px;
	top: 22%;
	left: 59%;
	transform: translateX(46%) rotate(-38deg);
	border-radius: 100%;
}

.sheet.thebigwet .wounds-area .lleg {
	position: absolute;
	width: 48px;
	height: 155px;
	top: 55%;
	left: 26%;
	transform: translateX(46%) rotate(5deg);
	border-radius: 100%;
}

.sheet.thebigwet .wounds-area .rleg {
	position: absolute;
	width: 48px;
	height: 155px;
	top: 55%;
	left: 44%;
	transform: translateX(46%) rotate(-5deg);
	border-radius: 100%;
}

.sheet.thebigwet .wounds-area .wound-area:hover {
    cursor: pointer;
}

.sheet.thebigwet .notes-input textarea {
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 2;
    border: 2px solid gray;
    border-radius: 0px;
    resize: none;
    outline: none;
    box-sizing: border-box;
    padding: 5px;
    font-size: 0.9rem;
}

.sheet.thebigwet .inventory {
    grid-column: 2;
    grid-row: 1/3;
    border: 2px solid black;
}

.sheet.thebigwet .inventory .inventory-title {
    text-transform: uppercase;
    padding: 5px;
    font-size: 0.75rem;
    background: black;
    color: white;
    font-weight: bold;
}

.sheet.thebigwet .emphasis {
    color: black;
    font-weight: bold;
}

.sheet.thebigwet .small-emphasis {
    font-weight: bold;
}

.sheet.thebigwet .notes-input {
    position: relative;
    grid-column: 1;
    grid-row: 2;
    pointer-events: auto;
    z-index: 10;
}

.sheet.thebigwet .notes-input label {
    position: absolute;
    bottom: 1px;
    left: 5px;
    font-size: 10px;
    color: black;
    text-transform: uppercase;
    pointer-events: none;
}

.sheet.thebigwet .wounds-area {
    position: relative;
    grid-column: 1;
    grid-row: 1;
}

.sheet.thebigwet .wounds-area label {
    position: absolute;
    bottom: 1px;
    left: 5px;
    font-size: 10px;
    color: black;
    text-transform: uppercase;
    pointer-events: none;
}

.item-image {
    display: grid;
    justify-items: center;
}
.item-image img {
    background: black;
    margin: 30px;
    height: 65%;
    min-height: 65%;
}

.inventory-header {
    display: grid;
    grid-template-columns: 0.25fr 2fr 1fr 1fr 1fr 1fr;
    background: black;
    color: white;
    font-weight: bold;
}

.inventory .item {
    display: grid;
    grid-template-columns: 0.25fr 2fr 1fr 1fr 1fr 1fr;
    color: black;
    margin: 1px;
}

.inventory .item:hover {
    cursor: pointer;
    color: gray;
}

.item-delete button {
    all: unset;
    cursor: pointer;
    background: white;
    border: 0px;
    border-radius: 0px;
    width: 25%;
    height: 100%;
}

.item-delete button:focus {
    background: white;
    border: 0px;
    border-radius: 0px;
    width: 25%;
    height: 100%;
}

.item-delete button:hover {
    background: white;
    border: 0px;
    border-radius: 0px;
    width: 25%;
    height: 100%;
}

.item-delete i {
    color: black;
}

.item-delete button:hover i {
    color: red;
    transition: color 0.1s ease;
}
